@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  background-color: $global-color-background;
  z-index: $global-elevation-4;
  // transition
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  opacity: 1;

  &--end {
    opacity: 0;
  }

  .Loading__logo {
    width: 200px;
  }
}
