@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $global-elevation-2;
  display: none;

  transition-duration: 0.7s;
  transition-timing-function: $timing-function-image;
}

.Overlay--displayed {
  display: block;
}
