@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.PhilosophyDrawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $global-elevation-3;
  padding: 80px 160px 200px;
  width: calc(100% - 160px - 100px);
  height: 88svh;
  overflow-y: scroll;
  transform: translateX(160%);
  transition-duration: 0.5s;
  transition-timing-function: $timing-function-image;
  background-color: $background-color-hover;
  border-radius: 0 0 0 120px;
  color: $font-color-white;

  &--displayed {
    transform: translateX(0);
  }

  .PhilosophyDrawer__closeButton {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 80px;
    height: 16px;

    &:hover {
      .PhilosophyDrawer__closeButtonLine {
        transform: translateX(12px);
        background-color: $font-color-hover-blue;

        &::after {
          transform: rotate(390deg);
          background-color: $font-color-hover-blue;
        }
      }
    }
  }

  .PhilosophyDrawer__closeButtonLine {
    position: relative;
    display: block;
    width: 80px;
    height: 1px;
    background-color: $font-color-white;
    transition-duration: 0.5s;
    transition-timing-function: $timing-function-image;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -2px;
      display: block;
      width: 22px;
      height: 1px;
      background-color: $font-color-white;
      transform: rotate(30deg);
      transition-duration: 1s;
      transition-timing-function: $timing-function-image;
    }
  }

  .PhilosophyDrawer__contents {
    & > * {
      transition-duration: 0.5s;
      transition-timing-function: $timing-function-image;
    }
  }

  .PhilosophyDrawer__title {
    font-size: 22px;
  }

  .PhilosophyDrawer__separator {
    margin: 32px 0 40px;
    width: 16px;
    height: 1px;
    background-color: $font-color-white;
  }

  .PhilosophyDrawer__texts {
    display: flex;
  }

  .PhilosophyDrawer__text {
    font-size: 11px;
    line-height: 2.2em;
    letter-spacing: 0.1em;
  }

  .PhilosophyDrawer__textEnglish {
    margin-left: 60px;
    font-size: 13px;
    line-height: 2.1em;
    letter-spacing: 0.06em;
  }

  .PhilosophyDrawer__text,
  .PhilosophyDrawer__textEnglish {
    max-width: 440px;
    min-width: 300px;
  }
}
