@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.LinkButton__buttonWrapper {
  display: flex;
}

.LinkButton__buttonWrapper + .LinkButton__buttonWrapper {
  margin-left: 36px;

  @include respondToSm {
    margin-top: 36px;
    margin-left: 0;
  }
}

.LinkButton__button {
  display: flex;
  width: 167px;

  @include respondToSm {
    width: fit-content;
  }

  @media (hover: hover) {
    &:hover {
      .LinkButton__buttonText {
        padding-right: 8px;
        border-radius: 17px 0 0 17px;
        border: 1px solid transparent;
        color: $font-color-black;
        background-color: $background-color-hover;

        &--blacked {
          color: $font-color-white;
        }
      }

      .LinkButton__buttonCircle {
        margin-left: -4px;
        padding-right: 18px;
        width: 38px;
        border-radius: 0 24px 24px 0;
        border: 1px solid transparent;
        background-color: $background-color-hover;
      }

      .LinkButton__buttonArrow {
        border-top: 1px solid $font-color-black;

        &::after {
          border-top: 1px solid $font-color-black;
        }

        &--blacked {
          border-top: 1px solid $font-color-white;

          &::after {
            border-top: 1px solid $font-color-white;
          }
        }
      }
    }
  }
}

.LinkButton__buttonText {
  display: block;
  padding: 2px 24px;
  border-radius: 17px;
  border: 1px solid $font-color-white;
  color: $font-color-white;

  transition-duration: 0.3s;
  transition-timing-function: $timing-function-image;

  &--blacked {
    color: $font-color-black;
    border: 1px solid $font-color-black;
  }
}

.LinkButton__buttonCircle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $font-color-white;

  transition-duration: 0.3s;
  transition-timing-function: $timing-function-image;

  &--blacked {
    border: 1px solid $font-color-black;
  }
}

.LinkButton__buttonArrow {
  position: relative;
  display: block;
  width: 16px;
  height: 0px;
  border-top: 1px solid $font-color-white;

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -1px;
    display: block;
    width: 6px;
    height: 0px;
    border-top: 1px solid $font-color-white;
    transform: rotate(45deg);
  }

  &--blacked {
    border-top: 1px solid $font-color-black;

    &::after {
      border-top: 1px solid $font-color-black;
    }
  }
}
