// font-color
$font-color-blue: #060b7c;
$font-color-red: #ae0a0a;
$font-color-gray: #464646;
$font-color-white: #ffffff;
$font-color-black: #2d2d2d;

// hover
$font-color-hover: #c3a079;
$font-color-hover-pink: #ffadad;
$font-color-hover-blue: #060b7c;
$background-color-hover: #c3a079;

// timing-function
$timing-function-image: cubic-bezier(0.83, 0, 0.17, 1);

// background-color
$global-color-background: #eff3f4;

// z-index
$global-elevation-background: -999;
$global-elevation-1: 1000000;
$global-elevation-2: 4000000;
$global-elevation-3: 8000000;
$global-elevation-4: 2147483647;
